docs/assignment.pdf
.DS_Store

# terraform
.terraform/
.terraform-dev/
.terraform-prod/
*.tfplan
tfplan
*.tfstate*
infra/global/rotation/handler.zip
docs/rough/

# build artifacts
revision.zip
sbom.spdx.json
